<!--
Show that error occured because wrong device id was submitted.
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags by Bootstrap -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% include "stylesheets.html" %}
</head>

<body>
{% include "navbar.html" with active_navbar_item="register_new_device" %}

<div style="position: absolute; top: 120px; left: 30%">
  The device id you entered was invalid, try again.
</div>

{% include "javascripts.html" %}
</body>
</html>