<head>
    <style>
        .username {
            position: absolute;
            right: 5%;
            top: 5%;
        }
    </style>
</head>

<body>
<div class="username">
    <button class="btn dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="1000">
        Anonymous
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" tabindex="-1"> devices </a></li>
        <li><a class="dropdown-item" tabindex="-1"> user details </a></li>
        <li><a class="dropdown-item" tabindex="-1"> logout </a></li>
    </ul>
</div>
</body>