<!--
 Displays an overview for one device in a table.
 Displays also a button with capability of printing details for that device (implemented as collapsible panel).

 Gets "device_model" as Device model
-->

<table class="table table-bordered">
  <tr>
    <th> Device ID </th>
    <th> status </th>
  </tr>
  <tr>
    <td> {{ device_model.device_id }} </td>
    <td>
      {{ device_model.status }}
      <!-- details button -->
      <a class="btn btn-primary" role="button" data-toggle="collapse"
         href="#{{ device_model.device_id }}_device_details" aria-expanded="false" aria-controls="device_details"
         style="position: relative; left: 70%"
      >
        Details
        <span id="{{ device_model.device_id }}details_chevron_down"
              class="glyphicon glyphicon-chevron-down"></span>
        <span id="{{ device_model.device_id }}details_chevron_up"
              class="glyphicon glyphicon-chevron-up" style="display: none"></span>
      </a>
      <!-- "save into device" and "discard changes" buttons -->
      <div id="{{ device_model.device_id }}_save_to_device_group" class="btn-group"
           style="display: none; position: relative; left: 70%;">
        <!-- save into device button -->
        <button class="btn btn-success" onclick="deviceOverview.saveIntoDevice(event)" role="button">
          Save into device
        </button>
        <button class="btn btn-warning" onclick="deviceOverview.discardChanges(event)" role="button">
          Discard changes
        </button>
      </div> <!-- btn-group -->
    </td>
  </tr>
</table>

<!-- Device details collapsed -->
<div id="{{ device_model.device_id }}_device_details" class="collapse panel panel-default">
  <div class="panel-body">
    {% autoescape off %}
      {{ device_model.render_all_items }}
    {% endautoescape %}
  </div>
</div>
