<!--
 Displays an overview for one device in a table.
 Displays also a button with capability of printing details for that device (implemented as collapsible panel).

 Gets "device_model" as Device model
-->

<table class="table table-bordered">
  <tr>
    <th> Device ID </th>
    <th> status </th>
  </tr>
  <tr>
    <td> {{ device_model.device_id }} </td>
    <td>
      {{ device_model.status }}
      <!-- details button -->
      <a class="btn btn-primary" id="details_button" role="button" data-toggle="collapse"
         href="#device_details" aria-expanded="false" aria-controls="device_details"
         style="position: relative; left: 80%"
      >
        Details
        <span id="details_chevron_down" class="glyphicon glyphicon-chevron-down"></span>
        <span id="details_chevron_up" class="glyphicon glyphicon-chevron-up" style="display: none"></span>
      </a>
    </td>
  </tr>
</table>

<!-- Device details collapsed -->
<div id="device_details" class="collapse panel panel-default">
  <div class="panel-body">
    {{ device_model.render_all_items }}
  </div>
</div>
