<!--
 Displays overview of all devices for a given user (user must be logged on for this page to render something).

 Gets "devices_model_list" = list of user model devices.
-->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags by Bootstrap -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include "stylesheets.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'intervals.css' %}"/>
</head>

<body>
{% include "navbar.html" with active_navbar_item="devices" %}

{% for device_model in devices_model_list %}
    {% include "devices/device_overview.html" with device_model=device_model %}
{% endfor %}

{% include "javascripts.html" %}
<script src="{% static 'config_items/config_item.js' %}"></script>
<script src="{% static 'config_items/interval_window.js' %}"></script>
<script src="{% static 'config_items/intervals_window.js' %}"></script>
<script src="{% static 'config_items/interval_template.js' %}"></script>
<script src="{% static 'device_window.js' %}"></script>
<script src="{% static 'device_list.js' %}"></script>
<script src="{% static 'ajax_poller.js' %}"></script>

<script>
  let deviceList = new DeviceList();
  $(document).ready(function() {
      {% for device_model in devices_model_list %}
          let device = new DeviceWindow("{{ device_model.device_id }}");
          let intervals = new IntervalsWindow(device);
          device.addConfigItem(intervals);
          deviceList.addDevice(device);
      {% endfor %}

      AjaxPoller.startPoll();
  })
</script>
</body>

</html>
