<!--
 Gets "interval_list" as [Interval]
-->

<div class="panel panel-default">
  <div class="panel-heading">
    Intervals
    <!-- Edit Intervals button -->
    <button id="edit_button" onclick="toggleEditButtons()" class="btn btn-primary" type="button"
            style="position: relative; left: 40px;">
      Edit
    </button>
  </div> <!-- panel-heading -->
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        {% for interval in interval_list %}
          <div class="col-md-1">
            <div class="interval">
              <div class="from">
                {{ interval.from_time.hours }}:{{ interval.from_time.minutes }}
              </div>
              <div class="to">
                {{ interval.to_time.hours }}:{{ interval.to_time.minutes }}
              </div>
              <div class="temp">
                {{ interval.temp }}
              </div>

              <!-- edit interval buttons -->
              <div class="edit-hideable-buttons btn-group" role="group">
                <button class="btn btn-default" type="button" style="padding: 0 3px;">
                  edit
                </button>
                <button class="btn btn-default" type="button" style="padding: 0 3px;">
                  delete
                </button>
              </div> <!-- btn-group -->
            </div> <!-- interval -->
          </div> <!-- col-md-1 -->
        {% endfor %}
      </div> <!-- row -->
    </div> <!-- container-fluid -->
  </div> <!-- panel-body -->
</div>

<script>
var toggled = false;

function toggleEditButtons() {
    if (!toggled) {
        $(".interval").css("height", "70px");
        $(".edit-hideable-buttons").show();
        $("#edit_button");
        toggled = true;
    }
    else {
        toggled = false;
    }
}
</script>