<!--
 Gets "interval_list" as [Interval]
      "device_model" as Device (models.py)
-->

<div class="panel panel-default">
  <div class="panel-heading">
    Intervals
    <!-- Changed (asterisk) sign with tooltip (implicitly hidden) -->
    <span data-toggle="tooltip" title="Device changed value"
          id="{{ device_model.device_id }}_interval_changed_flag"
          style="display: none; color: red; position: relative; bottom: 3px; font-size: 1.8em">*</span>
    <!-- Refresh button (implicitly disabled) -->
    <button class="btn btn-primary"
            id="{{ device_model.device_id }}_interval_refresh_button" type="button" disabled="true"
            style="position: relative; left: 40px;">Refresh</button>
    <!-- Save into device button (implicitly hidden) -->
    <button class="btn btn-success"
            id="{{ device_model.device_id }}_interval_save_into_device_button" type="button"
            style="display: none; position: relative; left: 40px;">Save into device</button>
    <!-- Edit Intervals button -->
    <button class="btn btn-warning" id="{{ device_model.device_id }}_interval_editall_button"
            type="button" style="position: relative; left: 43px;">
      Edit
    </button>

    <!-- Timestamp -->
    <br>
    <span id="{{ device_model.device_id }}_interval_timestamp"
          data-toggle="tooltip" title="Last time of intervals editing (on device or on server)"
          style="color: gray"></span>
  </div> <!-- panel-heading -->

  <div class="panel-body">
    <div class="container-fluid">
      <div class="row" id="{{ device_model.device_id }}_interval">
        {% for interval in interval_list %}
          <div class="col-md-1">
            <!-- Overview interval -->
            <div class="interval" id="{{ device_model.device_id }}_interval_{{ forloop.counter0 }}">
              <div id="{{ device_model.device_id }}_from_{{ forloop.counter0 }}"
                   class="from">{{ interval.from_time.hours }}:{{ interval.from_time.minutes }}</div>
              <div id="{{ device_model.device_id }}_to_{{ forloop.counter0 }}"
                   class="to">{{ interval.to_time.hours }}:{{ interval.to_time.minutes }}</div>
              <div id="{{ device_model.device_id }}_temp_{{ forloop.counter0 }}"
                   class="temp">{{ interval.temp }}</div>
            </div> <!-- interval -->

            <!-- Editable interval (hidden) -->
            <div class="editable-interval" id="{{ device_model.device_id }}_editable_interval_{{ forloop.counter0 }}"
                 style="display: none">
              <!-- from textarea -->
              <div style="position: absolute; top: 3%; left: 2%;">
                <textarea id="{{ device_model.device_id }}_editable_interval_from_{{ forloop.counter0 }}" maxlength="5"
                          style="resize: none; width: 45px; height: 25px;"
                >{{ interval.from_time.hours }}:{{ interval.from_time.minutes }}</textarea>
                <span style="position: relative; bottom: 5px;">
                  -
                </span>
              </div>
              <!-- to textarea -->
              <textarea id="{{ device_model.device_id }}_editable_interval_to_{{ forloop.counter0 }}" maxlength="5"
                        style="resize: none; width: 45px; height: 25px; position: absolute; top: 3%; left: 55%;"
              >{{ interval.to_time.hours }}:{{ interval.to_time.minutes }}</textarea>
              <!-- temp teaxtarea -->
              <div style="position: absolute; top: 30px; left: 35%;">
                <textarea id="{{ device_model.device_id }}_editable_interval_temp_{{ forloop.counter0 }}" maxlength="2"
                          style="resize: none; width: 25px; height: 25px;">{{ interval.temp }}</textarea>
                <span style="position: relative; bottom: 8px; right: 2px">
                  °
                </span>
              </div>
              <!-- delete button -->
              <button class="btn btn-danger"
                      id="{{ device_model.device_id }}_editable_interval_deletebutton_{{ forloop.counter0 }}"
                      type="button" style="position: absolute; bottom: 3%; left: 30%; padding: 0 3px">
                delete
              </button>
            </div> <!-- interval (editable interval) -->
          </div> <!-- col-md-1 -->
        {% endfor %}
      </div> <!-- row -->
    </div> <!-- container-fluid -->
  </div> <!-- panel-body -->
</div>
